
/* Icons */

	ul.icons {
		display: inline-block;
		margin-right: 50%;
		margin-left: 50%;
        text-align: center;
        cursor: default;
		list-style: none;
		padding-left: 0;
		margin: -1em 0 _size(element-margin) -1em;

		li {
			display: inline-block;
			float: left;
			padding: 1em 0 0 1em;
			
			text-align: center;
		}
	}
